* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fbfbfb;
}

.side-nav {
    list-style-type: none;
    overflow: hidden;
    background-color: #efa6a6;
    display: flex;
    justify-content: center;
    font-size: 20px;
}

.side-nav li {
    background-color: #efa6a6;
}

.side-nav li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

a:hover {
    color: yellow;
}

.side-nav li a {
    color: white;
}

.side-nav li a:hover {
    background-color: #ee7070;
}

h1 {
    text-align: center;
    color: #a37272;
    font-family: 'Courier New', Courier, monospace;
    margin: 45px;
    font-size: 45px;
    font-weight: bolder;
}

.home {
    font-size: 25px;
    margin: 0 25px 0 25px;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    word-spacing: 2px;
    font-family: "Dancing Script", cursive;
    letter-spacing: 2px;
}

h2 {
    text-align: center;
    color: #a37272;
    font-family: 'Courier New', Courier, monospace;
    margin: 45px;
    font-size: 45px;
    font-weight: bolder;
}

.video {
    display: flex;
    justify-content: center;
}

.char {
    font-family: "Dancing Script", cursive;
    font-size: 25px;
    margin: 0 25px 0 25px;
    word-spacing: 2px;
    letter-spacing: 2px;
}

.side-nav a.active {
    color: #000000 !important;
}

.web {
    color: #ee7070;
}

.web:hover {
    color: brown;
}

.licensing-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 10px 0;
  gap: 40px; /* space between columns */
}

.licensing-item {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  font-family: sans-serif;
}

.label {
  font-weight: bold;
}

.email {
  text-decoration: none;
  color: #0077cc;
}

.email:hover {
  text-decoration: underline;
}

@media screen and (max-width:400px) {
    ul.side-nav {
        /* list-style-type: none;
                margin: 0;
                padding: 0;
                width: 25%;
                background-color: #f1f1f1;
                position: fixed;
                /* height: 100%; */
        /* overflow: auto; */
        flex-direction: column;
        align-items: stretch;
    }

    ul.side-nav li {
        /* display: block;
                text-decoration: none;
                padding: 8px 16px; */
        flex: none;
    }

    ul.side-nav li a {
        text-align: center;
        padding: 12px;
    }

    h1 {
        font-size: 30px;
    }

    p {
        font-size: 20px;
    }
}